.likeButton {
    color: red;
    font-size: 15px;

}

.makeBlue {
    color: blue;
}

.makeGreen {
    color: green;
}

.profilePane {
    border: 3px solid red;
}

.teamPane {
    border: 3px solid blue;
}