.jumbotron h1 {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 38px;
}
.jumbotron p {
    margin-left: 8%;
    margin-right: 5%;
    font-size: 20px;
}
.jumbotron h2 {
    margin-left: 8%;
    margin-right: 5%;
    font-size: 28px;
}
.jumbotron p span {
    display: block;
    margin-left: 20px;
}