.likeButton {
    color: red;
    font-size: 15px;

}

.makeBlue {
    color: blue;
}

.makeGreen {
    color: green;
}

.employeePane {
    border: 3px solid red;
    margin: 25px 50px 25px 50px;
}

.teamPane {
    border: 3px solid blue;
    margin: 25px 50px 25px 50px;
}

.SplitPane {
    overflow: auto !important;
}